* {
    background-color: lightgray;
}

.welcome{
    display: flex;
    justify-content: center;
}

.welcome img{
    width: 500px;
}
 h3{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

header > nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header > nav > div img{
    width: 100px;
    display: flex;
    justify-content:flex-start;
    margin: 10px;
}
header > nav > .des {
    width: 100px;
    display: flex;
    justify-content:flex-end;
    margin: 10px;
}
   
section {
display: flex;
justify-content: space-evenly;

}