body {
    background-color: lightgray;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 100px 495px;
    border: 5px solid #E94127;
    background-color: #343434;
    width: 500px;
    border-radius: 5px;
}

.welcome{
    display: flex;
    justify-content: center;
}

.welcome img{
    width: 500px;
    margin-top: 20px;
}
 h3{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin:20px ;
}

header {
    width: 100%;
}

header > nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
}
header > nav > div img{
    width: 100px;
    display: flex;
    justify-content:flex-start;
    margin: 10px;
}


header > nav > .dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
   
section {
display: flex;
justify-content: space-evenly;
flex-direction: column;
position: relative;
width: 70%;
margin: auto;
}

section p{
   margin: 20px;
   display: flex;
   justify-content: center;
   font-size: 20px;
   font-family: 'Pridi', serif;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pridi', serif;
    margin-top: 10px;
    color: whitesmoke;

}

footer > .nav-footer > ul >li{
    list-style: none;
    display: inline;
    margin: 20px;
    color:#464646;
}

footer > .nav-footer > ul >li :hover{
text-decoration: underline;
color: #E94127;
}

footer > .nav-footer > .copy {
    display: flex;
    justify-content: center;
    margin: 20px;
    color:#464646;
}


footer > .nav-footer > ul >.item :hover{
    text-decoration: underline;
    color: #E94127;
    }


/* Dropdown Button */
.dropbtn {
    background-color: whitesmoke;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Poppins', sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #343434;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: whitesmoke;}

  .spacer{
    padding: 30px;
  }

  .spacer-two{
    padding: 20px;
  }